@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #ffffff;
}


button:hover {
  filter: brightness(1.15);
  transition: 0.2s ease;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #D2D7DF;
  border-radius: 8px;
}
